body {
    font-family: 'Poppins', sans-serif;
}

/*-------------------------------
 slider area css  
 ---------------------------------*/
 .slider-text {
    bottom: 37%;
 }
 .slider_overlay {
    background:rgba(0,0,0,.7);
    position:absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
 }